In [ ]:
#Get a pandas dataframe from Amazon PostgreSQL RDS
#L. Clark

In [11]:
import scipy
import configparser
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

In [13]:
#define function to read sql file and store as string
def read_sql_file(path):
    rd = open(path, 'r')
    sqlFile = rd.read()
    rd.close
    #print(sqlFile)
    return sqlFile

In [14]:
sqlFile = read_sql_file("/Users/lindseyclark/Documents/lipscomb_msds_5153_summer_2020/race_data_query.sql")

In [15]:
sqlFile

'select *\nfrom racedata.test\nlimit 10;\n'

In [16]:
#create connection string from parsing config.ini
config = configparser.ConfigParser()
    
    #read in the config file
config.read("/Users/lindseyclark/Documents/credentials/config.ini")
    
    #read in values from config file
config_postgres_pw = config.get('postgres', 'uid')

engine_string = ''.join(['postgresql://',
                             config.get('postgres', 'uid'),
                             ':',
                             config.get('postgres', 'password'),
                             '@',
                             config.get('postgres', 'server'),':5432/postgres'])

In [17]:
engine_string
#print("/n")

'postgresql://postgres:msds5153@database-2.ciks9ot9g63b.us-east-1.rds.amazonaws.com:5432/postgres'

In [18]:
engine = create_engine(engine_string)

In [19]:
df = pd.read_sql_query(sqlFile, engine)
df.head()

   raceid  drivderid  lap  position2     time  milliseconds
0     841         20    1          1  01:38.1         98109
1     841         20    2          1  01:33.0         93006
2     841         20    3          1  01:32.7         92713
3     841         20    4          1  01:32.8         92803
4     841         20    5          1  01:32.3         92342